@import "./styles/variables";

.node {
  opacity: 1;
  font-size: 13.3px;
  font-family: sans-serif;
  width: 15vw;
  .node-header {
    background-color: $node-color;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    img {
      width: 8%;
    }
    .node-close {
      margin-left: auto;
      float: right;
    }
  }
  .node-body {
    background-color: $node-body-color; 
    .container {
      max-width: 100%;
      margin: 0;
      padding: 0px;
      .node-field {
        .body-header {
          padding: 0px;
          .body-label {
            margin: 0px;
          }
          .body-addvariable {
            margin-left: auto;
            cursor: pointer;
          }
        }
        .body-textinput {
          width: 100%;
          field-sizing: content;
          overflow: hidden;
          cursor: pointer;
          line-height: normal;
        }

        .body-checkbox {

        }
      }
    }
  }
}

//resuable styling
.border-top-12 {
  border-radius: 12px 12px 0px 0px;
}

.border-bottom-12 {
  border-radius: 0px 0px 12px 12px;
}

.border-12 {
  border-radius: 12px;
}

button {
  background: transparent;
  color: white;
  border: none;
  height: fit-content;
  cursor: pointer;
}

.btn-go {
  background-color: #eb701e;
  color: $node-body-color;
}

.app-container {
  height: 100vh;
  background-image: url('./utils/images/background.jpg');
  background-size: cover;
  background-position: center;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: black;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: black;
}

.react-flow__handle{
  position: absolute;
}

.react-flow__handle::before {
  content: var(--variable-name,'');
  position: absolute;
  right: 120%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #333;
  white-space: nowrap;
  margin-right: 8px;
}